[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://git.openembedded.org/bitbake
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://git.openembedded.org/openembedded-core
[submodule "layers/meta-yocto"]
	path = layers/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "layers/meta-browser"]
	path = layers/meta-browser
	url = https://github.com/OSSystems/meta-browser
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
