# standard
POKY_BBLAYERS_CONF_VERSION = "2"
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS = " \
  ${TOPDIR}/../layers/meta-openembedded/meta-networking \
  ${TOPDIR}/../layers/meta-openembedded/meta-oe \
  ${TOPDIR}/../layers/meta-openembedded/meta-perl \
  ${TOPDIR}/../layers/meta-openembedded/meta-python \
  ${TOPDIR}/../layers/meta-qt5 \
  ${TOPDIR}/../layers/meta-yocto/meta-poky \
  ${TOPDIR}/../layers/meta-yocto/meta-yocto-bsp \
  ${TOPDIR}/../layers/openembedded-core/meta \
  ${TOPDIR}/../layers/meta-raspberrypi \
  ${TOPDIR}/../layers/meta-clang \
  ${TOPDIR}/../layers/meta-browser/meta-chromium \
  ${TOPDIR}/../layers/meta-browser/meta-firefox \
"

BBLAYERS += " \
  ${TOPDIR}/..//layers/meta-compulab-rpi5 \
"

BBPATH ?= "${TOPDIR}"
BBFILES ??= ""
